<h1>Hello! Welcome to the Task List!</h1>

<% @tasks.each do |t| %>
  <p>
    <%= "Task: #{ t.name }" %>
    <%= link_to "Find more info here", task_path(t) %>
  </p>
<% end %>

<p>
  Would you like to add a new task? If so, <%= link_to "click here", tasks_new_path %>
</p>
