/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*All pages*/
/*Default font information for entire document*/
@import url('foundation.css');

 html {
   font: normal normal 14px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

/*Force document to not extend to borders of browser*/
 body {
   padding-left: 20px;
   padding-right: 20px;
 }

 /*Header formatting*/
 .title-area {
   text-align: center;
 }

.logout-button {
  background-color: red;
}

.new-task-button {
  background-color: green;
}

.logout-button, .new-task-button {
  border-radius: 45px;
  color: white;
  font-weight: bold;
}

/*Footer formatting*/
footer {
  margin-top: 100px;
}


/*Index page*/
/*Specify how much space is between name of task and edit/destroy options*/
 .task_header {
   margin-top: 0;
   margin-bottom: 5px;
 }

/*Decrease total width of grid of tasks*/
 .all_tasks {
   max-width: 90%;
 }

/*Formatting for task grid*/
 .task_list {
   width: 25%;
   float: left;
   border: green 2px dotted;
   padding: 10px;
   margin: 10px;
 }

/*Lower section with completed tasks for better readability*/
 .finished_tasks {
   clear: both;
   padding-top: 30px;
 }

/*Lower link to add a new task for better readability*/
 .create_new_task {
   clear: both;
   padding-top: 30px;
   padding-left: 30px;
 }
